body {
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 150%;
}

h1 {
    color: #efeee7;
    background-color: black;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
}
h2 {
    font-size: 21px;
    padding-top: 20px;
    padding-left: 25px;
}

a { color: blue;
}

.container {
    width: 1024px;
    margin: 0 auto;

}

#bio-image,
#main-bio {
    float: left;
    clear: both;
    padding-left: 25px;
}

#contact-info {
    float: right;
    margin-top: -10%; 
    }

#main-bio {
     width: 70%;
    
}

#contact-info {
    width: 30%;
    
}
#bio-image {
    margin-right: 20px;
    width: 200px;
    height: 200px;
}
#my-links {
    float: right;
    padding: 20px;
    margin-right: 18%;
}
